```php
<?php

namespace App\Concerns;

trait HasLocales
{
    public function getLocaleAttribute()
    {
        return $this->locale ?? app()->getLocale();
    }

    public function setLocaleAttribute($value)
    {
        $this->attributes['locale'] = $value;
    }
}
```