.mason-wrapper {
    .mason-input-wrapper {
        @apply overflow-hidden;

        > .fi-input-wrp-content-ctn {
            @apply flex max-h-[40rem] min-h-[20rem];

            .mason-editor-wrapper {
                @apply relative flex-1;

                .mason-iframe {
                    @apply min-h-full w-full border-0;
                    background: white;
                }
            }

            .mason-sidebar {
                @apply hidden h-full max-w-[12rem] shrink-0 flex-col divide-y divide-gray-950/10 border-s border-gray-950/10 bg-gray-50 md:flex dark:divide-white/5 dark:border-white/5 dark:bg-gray-950/20;

                .mason-controls,
                .mason-actions-bricks {
                    @apply gap-2 p-2;
                }

                .mason-controls {
                    @apply flex items-center;

                    svg {
                        @apply h-5 w-5;
                    }

                    .active {
                        @apply text-primary-600 dark:text-primary-500;
                    }
                }

                .mason-actions {
                    @apply flex flex-1 flex-col divide-y divide-gray-950/10 overflow-hidden dark:divide-white/5;

                    .mason-actions-search {
                        @apply p-0;

                        .fi-input-wrp {
                            @apply rounded-none bg-transparent ring-0;
                        }
                    }

                    .mason-actions-bricks {
                        @apply flex flex-1 flex-col gap-2 overflow-y-auto;

                        .mason-actions-brick {
                            @apply flex cursor-move items-center gap-2 rounded border border-gray-300 bg-white py-2 pe-4 ps-3 text-xs dark:border-gray-700 dark:bg-gray-800;

                            &.filtered {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }

        &.sidebar-start .fi-input-wrp-input {
            @apply flex-row-reverse;
        }
    }

    &.fullscreen {
        @apply fixed inset-0 z-30 bg-white dark:bg-gray-900;

        .mason-input-wrapper {
            @apply h-full rounded-none;

            .fi-input-wrp-content-ctn {
                @apply h-full max-h-full;
            }
        }

        .mason-iframe {
            container-type: inline-size;
        }
    }

    &.display-mobile,
    &.display-tablet {
        @apply bg-gray-100 dark:bg-gray-950;

        .mason-editor-wrapper {
            @apply p-6;
        }

        .mason-editor-wrapper .mason-iframe {
            @apply bg-white dark:bg-gray-900;
        }
    }

    &.display-mobile {
        .mason-editor-wrapper .mason-iframe {
            @apply mx-auto;
            max-width: 392px !important;
        }
    }

    &.display-tablet {
        .mason-editor-wrapper .mason-iframe {
            @apply mx-auto !max-w-screen-md;
        }
    }
}

.mason-entry-wrapper {
    .mason {
        @apply w-full h-full overflow-hidden rounded-lg border border-gray-950/10 dark:border-white/5;

        .mason-entry-iframe {
            @apply min-h-[30rem] w-full border-0;
            background: white;
        }
    }
}
